
<aside class="col-md-3 col-md-pull-9 sidebar ">
    <h4>Mi Cuenta</h4>
    <ul class="nav nav-list">
        <li><a href="">Información de la cuenta</a></li>
        <li><a href="{% url 'shipping_addresses:shipping_addresses' %}">Direcciónes</a></li>
            <ul>
                <li><a href="{% url 'shipping_addresses:create' %}">Agregar dirección</a></li>
            </ul>
        <li><a href="{% url 'billing_profiles:billing_profiles' %}">Mis métodos de pago</a></li>
            <ul>
                <li><a href="{% url 'billing_profiles:create' %}">Agregar métodos de pago</a></li>
            </ul>
        <li><a href="{% url 'orders:completeds' %}">Mis pedidos</a></li>
        <li><a href="#">favoritos</a></li>
    </ul>
</aside>

