
<!-- end articulo -->
<div class="product">
    <figure class="product-image-area">
            <img src="{{ product.image_a.url }}" alt="Product Name">
            <img src="{{ product.image_b.url }}" alt="Product Name" class="product-hover-image">
    </figure>

    <div class="product-details-area">
        <h3 > {{ product.title }}</h3>
        <div class="product-ratings">
            <div class="ratings-box">
                <div class="rating" style="width:60%"></div>
            </div>
        </div>

        <div class="product-price-box">
            <span class="old-price">${{ product.precio }}</span>
            <span class="product-price">${{ product.precio_oferta }}</span>
        </div>
    </div>

</div>
<!-- end product list -->

