{% extends 'base.html' %}
{% block content %}

    <section class="page-header">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="/">Inicio</a></li>
                <li class="active"><a href="/biblioteca/">Biblioteca</a></li>
            </ul>
        </div>
    </section>

    <div class="container">
        <div class="row">

            <div class="col-md-9 col-md-push-3">
                <div class="toolbar mb-none">
                    <div class="sorter">
                        <div class="sort-by">
                            <label>Sort by:</label>
                            <select>
                                <option value="Position">Position</option>
                                <option value="Name">Name</option>
                                <option value="Price">Price</option>
                            </select>
                            <a href="#" title="Set Desc Direction">
                                <img src="/static/img/demos/shop/i_asc_arrow.gif" alt="Set Desc Direction">
                            </a>
                        </div>

                        <div class="view-mode">
                            <span title="Grid">
                                <i class="fa fa-th"></i>
                            </span>
                            <a href="#" title="List">
                                <i class="fa fa-list-ul"></i>
                            </a>
                        </div>

                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                        </ul>

                        <div class="limiter">
                            <label>Show:</label>
                            <select>
                                <option value="12">12</option>
                                <option value="24">24</option>
                                <option value="36">36</option>
                            </select>
                        </div>
                    </div>
                </div>

                <ul class="products-grid columns4">
                    {% for pro in product %}
                        <li>
                            <div class="product">
                                <figure class="product-image-area">
{#                                    <a href="{% url 'product' pro.slug %}" title="Product Name" class="product-image">#}
                                    <a href="{{ pro.denominacion }}" title="Product Name" class="product-image">
                                        <img src="/media/{{ pro.image_a }}" alt="Product Name">
                                        <img src="/media/{{ pro.image_b }}" alt="Product Name"
                                             class="product-hover-image">
                                    </a>
                                </figure>
                                <div class="product-details-area">
                                    <h2 class="product-name"><a href="/producto/{{ pro.id }}"
                                                                title="Product Name">{{ pro.denominacion }}</a></h2>
                                    <div class="product-ratings">
                                        <div class="ratings-box">
                                            <div class="rating" style="width:60%"></div>
                                        </div>
                                    </div>

                                    <div class="product-price-box">
                                        <span class="old-price">$99.00</span>
                                        <span class="product-price">{{ pro.price }}</span>
                                    </div>

                                    <div class="product-actions">
                                        {#                                        <a href="#" class="addtowishlist" title="Add to Wishlist">#}
                                        {#                                            <i class="fa fa-heart"></i>#}
                                        {#                                        </a>#}
                                        <a href="/producto/{{ pro.id }}" class="addtocart" title="Add to Cart">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>Leer mas!</span>
                                        </a>
                                        {#                                        <a href="#" class="comparelink" title="Add to Compare">#}
                                        {#                                            <i class="glyphicon glyphicon-signal"></i>#}
                                        {#                                        </a>#}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}


                </ul>

                <div class="toolbar-bottom">
                    <div class="toolbar">
                        <div class="sorter">
                            <ul class="pagination">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                            </ul>

                            <div class="limiter">
                                <label>Show:</label>
                                <select>
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'menu_biblioteca.html' %}

        </div>
    </div>


{% endblock %}
