{% extends 'base.html' %}
{% block content %}


    <div class="banners-container">
        <div class="container">

            <h1 style="text-align: center" class="product-name"><strong>PIEZAS DEL MES!</strong></h1>
            <div class="row">
                <div class="slider-area">
                    <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'autoplay': true, 'autoplayTimeout': 4000}">
                        {% for billet in billetes %}
                            {% if billet.offer == True %}
                                    <a href="#" class="banner">
                                        <img src="/media/{{ billet.image_a }}" alt="Banner">
                                    </a>
                                    <a href="#" class="banner">
                                        <img src="/media/{{ billet.image_b }}" alt="Banner">
                                    </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="side-area">
                    <div class="row">
                        <div class="col-md-12 col-sm-4 col-xs-12">

{#                            {% include 'products/snippets/product.html' %}#}

                            {% for pro in monedas %}
                                {% if pro.offer == True %}
                                    <div class="product">
                                        <figure class="product-image-area">
                                            <a href="{{ pro.denominacion }}" title="Product Name" class="product-image">
                                                <img src="/media/{{ pro.image_a }}" alt="Product Name">
                                                <img src="/media/{{ pro.image_b }}" alt="Product Name"
                                                     class="product-hover-image">
                                            </a>
                                        </figure>
                                        <div class="product-details-area">
                                            <h2 class="product-name"><a href="/producto/{{ pro.id }}" title="Product Name">{{ pro.denominacion }}</a></h2>

                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="homepage-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-truck bar-icon"></i>
                    <div class="bar-textarea">
                        <h3>ENVÍO Y DEVOLUCIÓN GRATUITOS</h3>
                        <p>Envío gratis en todos los pedidos superiores a $ 99</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-dollar bar-icon"></i>
                    <div class="bar-textarea">
                        <h3>GARANTÍA DE DEVOLUCIÓN DEL DINERO</h3>
                        <p>100% de garantía de devolución de dinero.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-support bar-icon"></i>
                    <div class="bar-textarea">
                        <h3>SOPORTE EN LÍNEA 24/7</h3>
                        <p>Lorem ipsum dolor se sienta amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9 normal">

                <div class="tabs home-products-tab">

                    <div class="tab-content">

                        <div class="row">
                            <ul class="nav nav-links">
                                <li class="active">
                                    <a href="#featured" data-toggle="tab">MONEDAS DESTACADAS</a>
                                </li>
                                <li>
                                    <a href="#latest" data-toggle="tab">ÚLTIMOS AGREGADOS</a>
                                </li>
                            </ul>
                            <div class="col-md-12">
                                <div class="owl-carousel owl-theme show-nav-title" data-plugin-options="{'items':2, 'margin': 10, 'loop': false, 'nav': true, 'dots': false}">
                                    {% for pro in products %}
                                        {% if pro.tipo == 'Moneda' %}
                                            <div>
                                                <a href=" {% url 'product' pro.slug %}"><img alt="" class="img-responsive img-rounded" src="/media/{{ pro.image_a }}"></a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <ul class="nav nav-links">
                                <li class="active">
                                    <a href="#featured" data-toggle="tab">BILLETES DESTACADAS</a>
                                </li>
                                <li>
                                    <a href="#latest" data-toggle="tab">ÚLTIMOS AGREGADOS</a>
                                </li>
                            </ul>

                            <div class="col-md-12">
                                <div class="owl-carousel owl-theme show-nav-title" data-plugin-options="{'items':1, 'margin': 10, 'loop': false, 'nav': true, 'dots': false}">
                                    {% for pro in products %}
                                        {% if pro.tipo == 'Billete' %}
                                            <div>
                                                <a href=" {% url 'product' pro.slug %}"><img alt="" class="img-responsive img-rounded" src="/media/{{ pro.image_a }}"></a>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div id="latest" class="tab-pane">
                            <ul class="products-grid columns4">
                                <li>
                                    <div class="product">
                                        <figure class="product-image-area">
                                            <a href="demo-shop-8-product-details.html" title="Product Name" class="product-image">
                                                <img src="/static/img/demos/shop/products/shop8/product1.jpg" alt="Product Name">
                                            </a>

                                            <a href="#" class="product-quickview">
                                                <i class="fa fa-share-square-o"></i>
                                                <span>Quick View</span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" class="addtocart" title="Add to Cart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details-area">
                                            <h2 class="product-name"><a href="demo-shop-8-product-details.html" title="Product Name">Men Watch-Indigo</a></h2>
                                            <div class="product-ratings">
                                                <div class="ratings-box">
                                                    <div class="rating" style="width:0%"></div>
                                                </div>
                                            </div>

                                            <div class="product-price-box">
                                                <span class="product-price">$90.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="product">
                                        <figure class="product-image-area">
                                            <a href="demo-shop-8-product-details.html" title="Product Name" class="product-image">
                                                <img src="/static/img/demos/shop/products/shop8/product2.jpg" alt="Product Name">
                                            </a>

                                            <a href="#" class="product-quickview">
                                                <i class="fa fa-share-square-o"></i>
                                                <span>Quick View</span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" class="addtocart" title="Add to Cart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details-area">
                                            <h2 class="product-name"><a href="demo-shop-8-product-details.html" title="Product Name">Men Sports Watch-Blue</a></h2>
                                            <div class="product-ratings">
                                                <div class="ratings-box">
                                                    <div class="rating" style="width:60%"></div>
                                                </div>
                                            </div>

                                            <div class="product-price-box">
                                                <span class="product-price">$70.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="product">
                                        <figure class="product-image-area">
                                            <a href="demo-shop-8-product-details.html" title="Product Name" class="product-image">
                                                <img src="/static/img/demos/shop/products/shop8/product3.jpg" alt="Product Name">
                                                <img src="/static/img/demos/shop/products/shop8/product3-2.jpg" alt="Product Name" class="product-hover-image">
                                            </a>

                                            <a href="#" class="product-quickview">
                                                <i class="fa fa-share-square-o"></i>
                                                <span>Quick View</span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" class="addtocart" title="Add to Cart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details-area">
                                            <h2 class="product-name"><a href="demo-shop-8-product-details.html" title="Product Name">Men Sports Watch-Brown-2XL</a></h2>
                                            <div class="product-ratings">
                                                <div class="ratings-box">
                                                    <div class="rating" style="width:60%"></div>
                                                </div>
                                            </div>

                                            <div class="product-price-box">
                                                <span class="product-price">$120.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="product">
                                        <figure class="product-image-area">
                                            <a href="demo-shop-8-product-details.html" title="Product Name" class="product-image">
                                                <img src="/static/img/demos/shop/products/shop8/product4.jpg" alt="Product Name">
                                            </a>

                                            <a href="#" class="product-quickview">
                                                <i class="fa fa-share-square-o"></i>
                                                <span>Quick View</span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" class="addtocart" title="Add to Cart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details-area">
                                            <h2 class="product-name"><a href="demo-shop-8-product-details.html" title="Product Name">Men Watch-Black-Sony</a></h2>
                                            <div class="product-ratings">
                                                <div class="ratings-box">
                                                    <div class="rating" style="width:80%"></div>
                                                </div>
                                            </div>

                                            <div class="product-price-box">
                                                <span class="product-price">$90.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="product">
                                        <figure class="product-image-area">
                                            <a href="demo-shop-8-product-details.html" title="Product Name" class="product-image">
                                                <img src="/static/img/demos/shop/products/shop8/product7.jpg" alt="Product Name">
                                            </a>

                                            <a href="#" class="product-quickview">
                                                <i class="fa fa-share-square-o"></i>
                                                <span>Quick View</span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" class="addtocart" title="Add to Cart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details-area">
                                            <h2 class="product-name"><a href="demo-shop-8-product-details.html" title="Product Name">Men Sports Watch</a></h2>
                                            <div class="product-ratings">
                                                <div class="ratings-box">
                                                    <div class="rating" style="width:0%"></div>
                                                </div>
                                            </div>

                                            <div class="product-price-box">
                                                <span class="product-price">$60.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="product">
                                        <figure class="product-image-area">
                                            <a href="demo-shop-8-product-details.html" title="Product Name" class="product-image">
                                                <img src="/static/img/demos/shop/products/shop8/product1.jpg" alt="Product Name">
                                            </a>

                                            <a href="#" class="product-quickview">
                                                <i class="fa fa-share-square-o"></i>
                                                <span>Marcas</span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" class="addtocart" title="Add to Cart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details-area">
                                            <h2 class="product-name"><a href="demo-shop-8-product-details.html" title="Product Name">Men Sports Watch</a></h2>
                                            <div class="product-ratings">
                                                <div class="ratings-box">
                                                    <div class="rating" style="width:60%"></div>
                                                </div>
                                            </div>

                                            <div class="product-price-box">
                                                <span class="product-price">$90.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="product">
                                        <figure class="product-image-area">
                                            <a href="demo-shop-8-product-details.html" title="Product Name" class="product-image">
                                                <img src="/static/img/demos/shop/products/shop8/product6.jpg" alt="Product Name">
                                            </a>

                                            <a href="#" class="product-quickview">
                                                <i class="fa fa-share-square-o"></i>
                                                <span>Quick View</span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" class="addtocart" title="Add to Cart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details-area">
                                            <h2 class="product-name"><a href="demo-shop-8-product-details.html" title="Product Name">Men Sports Watch-Blue-L</a></h2>
                                            <div class="product-ratings">
                                                <div class="ratings-box">
                                                    <div class="rating" style="width:100%"></div>
                                                </div>
                                            </div>

                                            <div class="product-price-box">
                                                <span class="old-price">$220.00</span>
                                                <span class="product-price">$180.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="product">
                                        <figure class="product-image-area">
                                            <a href="demo-shop-8-product-details.html" title="Product Name" class="product-image">
                                                <img src="/static/img/demos/shop/products/shop8/product5.jpg" alt="Product Name">
                                            </a>

                                            <a href="#" class="product-quickview">
                                                <i class="fa fa-share-square-o"></i>
                                                <span>Quick View</span>
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" class="addtocart" title="Add to Cart">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </a>
                                            </div>
                                        </figure>
                                        <div class="product-details-area">
                                            <h2 class="product-name"><a href="demo-shop-8-product-details.html" title="Product Name">Men Sports Watch-M</a></h2>
                                            <div class="product-ratings">
                                                <div class="ratings-box">
                                                    <div class="rating" style="width:20%"></div>
                                                </div>
                                            </div>

                                            <div class="product-price-box">
                                                <span class="product-price">$230.00</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="banners-area mt-sm">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="#" class="banner">
                                <img src="/static/img/demos/shop/banners/shop8/banner4.jpg" alt="Banner">
                            </a>
                            <a href="#" class="banner">
                                <img src="/static/img/demos/shop/banners/shop8/banner5.jpg" alt="Banner">
                            </a>
                        </div>
                        <div class="col-sm-8">
                            <a href="#" class="banner">
                                <img src="/static/img/demos/shop/banners/shop8/banner6.jpg" alt="Banner">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="mb-xlg">
                    <h2 class="slider-title">
                        <span class="inline-title">Marcas</span>
                        <span class="line"></span>
                    </h2>

                    <div class="owl-carousel owl-theme manual clients-carousel owl-no-narrow">
                        <a href="#" title="Brand Name" class="client">
                            <img class="img-responsive" src="/static/img/demos/shop/brands/brand1.png" alt="Brand">
                        </a>
                        <a href="#" title="Brand Name" class="client">
                            <img class="img-responsive" src="/static/img/demos/shop/brands/brand2.png" alt="Brand">
                        </a>
                        <a href="#" title="Brand Name" class="client">
                            <img class="img-responsive" src="/static/img/demos/shop/brands/brand3.png" alt="Brand">
                        </a>
                        <a href="#" title="Brand Name" class="client">
                            <img class="img-responsive" src="/static/img/demos/shop/brands/brand4.png" alt="Brand">
                        </a>
                        <a href="#" title="Brand Name" class="client">
                            <img class="img-responsive" src="/static/img/demos/shop/brands/brand5.png" alt="Brand">
                        </a>
                        <a href="#" title="Brand Name" class="client">
                            <img class="img-responsive" src="/static/img/demos/shop/brands/brand1.png" alt="Brand">
                        </a>
                    </div>
                </div>
            </div>

            <aside class="col-md-3 sidebar shop-sidebar">



                <h4>DESDE EL BLOG</h4>
                <div class="owl-carousel owl-theme recent-posts-carousel" data-plugin-options="{'items':1, 'margin': 5, 'loop': false}">
                    {% for blog in blogs %}

                        <article class="post">
                            <div class="post-image">
                                <div class="img-thumbnail">
                                    <img class="img-responsive" src="/media/{{ blog.imagen }}" alt="Post">
                                </div>
                            </div>
                            <div class="post-date">
                                <span class="month">{{ blog.fecha }}</span>
                            </div>
                            <h2><a href="/post/{{ blog.id }}">{{ blog.titulo }}</a></h2>

                            <div class="post-content">

                                <p style="text-align: justify">{{ blog.articulo  |truncatechars:"100" }}</p>

                                <a href="/post/{{ blog.id }}" class="btn btn-link">Leer mas!</a>
                            </div>
                        </article>
                    {% endfor %}
                </div>

                <hr class="mt-xlg mb-xl">


                <div class="owl-carousel owl-theme" data-plugin-options="{'items':1, 'margin': 5}">
                    <a href="#">
                        <img class="img-responsive" src="/static/img/demos/shop/banners/banner1-blue.jpg" alt="Banner">
                    </a>
                    <a href="#">
                        <img class="img-responsive" src="/static/img/demos/shop/banners/banner2-blue.jpg" alt="Banner">
                    </a>
                </div>
            </aside>
        </div>
    </div>




{% endblock %}
{% load static %}