<br>
<aside class="col-md-3 col-md-pull-9 sidebar shop-sidebar">
    <div class="panel-group">

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">

                        <a class="accordion-toggle" data-toggle="collapse" href="#Ecuador">
                            Ecuador
                        </a>
                    </h4>
                </div>
                <div id="Ecuador" class="accordion-body collapse  ">
                    <div class="panel-body">
                        <ul>
{#                                        {% for pai in pais %}#}
{#                                            {% if pai.continente == conti %}#}
                                    <div class="toggle toggle-primary toggle-simple" data-plugin-toggle>
                                        <section class="toggle ">
                                            <label><a href="/biblioteca/ss/"> Guayas </a></label>
                                            <div class="toggle-content">
                                                <div class="toggle-content">
{#                                                                {% for peri in periodo %}#}
{#                                                                    {% if peri.pais == pai %}#}
                                                            <li><a  href="/periodo/">
                                                                <h8 style="padding-left: 30px">Guayaquil</h8>
                                                            </a>
                                                            </li>

                                                            <li><a  href="/periodo/">
                                                                <h8 style="padding-left: 30px">Samborondon</h8>
                                                            </a>
                                                            </li>
{#                                                                    {% endif %}#}
{#                                                                {% endfor %}#}
                                                </div>
                                            </div>
                                        </section>
                                    </div>
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-category">
                        Motivo
                    </a>
                </h4>
            </div>
            <div id="panel-filter-category" class="accordion-body collapse in">
                <div class="panel-body">
                    <div id="product1">
                        <input type="checkbox" value="1" id="product-1-1" name="check" /> Circulación<br/>
                        <input type="checkbox" value="2" id="product-1-2" name="check" /> Colección<br/>
                        <input type="checkbox" value="3" id="product-1-3" name="check" /> Conmemorativa<br/>
                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-category">
                        Motivo
                    </a>
                </h4>
            </div>
            <div id="panel-filter-category" class="accordion-body collapse in">
                <div class="panel-body">
                    <div id="product1">
                        <input type="checkbox" value="1" id="product-1-1" name="check" /> Circulación<br/>
                        <input type="checkbox" value="2" id="product-1-2" name="check" /> Colección<br/>
                        <input type="checkbox" value="3" id="product-1-3" name="check" /> Conmemorativa<br/>
                    </div>
                </div>
            </div>
        </div>



        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-category">
                        Condición
                    </a>
                </h4>
            </div>
            <div id="panel-filter-category" class="accordion-body collapse in">
                <div class="panel-body">
                    <div id="product1">
                        <input type="checkbox" value="1" id="product-1-1" name="check" /> PROFF <br/>
                        <input type="checkbox" value="2" id="product-1-2" name="check" /> MS<br/>
                        <input type="checkbox" value="3" id="product-1-3" name="check" /> UNC<br/>
                        <input type="checkbox" value="3" id="product-1-3" name="check" /> XF<br/>
                        <input type="checkbox" value="3" id="product-1-3" name="check" /> VF<br/>
                        <input type="checkbox" value="3" id="product-1-3" name="check" /> F<br/>
                        <input type="checkbox" value="3" id="product-1-3" name="check" /> VG<br/>

                    </div>
                </div>
            </div>
        </div>




        <div class="panel panel-default">
            <div class="panel-heading panel-group-secondary ">
                <h4 class="panel-title">
                    <a class="accordion-toggle  " data-toggle="collapse" href="#panel-filter-category">
                        Metal
                    </a>
                </h4>
            </div>
            <div id="panel-filter-category" class="accordion-body collapse in">
                <div class="panel-body">
                    <div id="product1">
                        <input type="checkbox" value="1" id="product-1-1" name="check" /> Oro <br/>
                        <input type="checkbox" value="2" id="product-1-2" name="check" /> Plata <br/>
                        <input type="checkbox" value="3" id="product-1-3" name="check" /> Bronce <br/>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-price">
                        Price
                    </a>
                </h4>
            </div>
            <div id="panel-filter-price" class="accordion-body collapse in">
                <div class="panel-body">
                    <div class="filter-price">
                        <div id="price-slider" class="noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-origin" style="left: 16.6667%;"><div class="noUi-handle noUi-handle-lower" data-handle="0" style="z-index: 5;"></div></div><div class="noUi-connect" style="left: 16.6667%; right: 16.6667%;"></div><div class="noUi-origin" style="left: 83.3333%;"><div class="noUi-handle noUi-handle-upper" data-handle="1" style="z-index: 4;"></div></div></div></div>
                        <div class="filter-price-details">
                            <span>from</span>
                            <input type="text" id="price-range-low" class="form-control" placeholder="Min">
                            <span>to</span>
                            <input type="text" id="price-range-high" class="form-control" placeholder="Max">
                            <a href="#" class="btn btn-primary">FILTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>